<? const FiltersCSS = "client/components/Filters/Filters-css" ?>
<? const FiltersJS = "client/components/Filters/Filters-js" ?>

<?!= _I(FiltersCSS) ?>
<div class="filters-collapsible">
    <div class="filters-header">
        <div class="filters-header-content">Filters</div>
    </div>
    <div class="filters-body">
        <div class="filters-body-content">
            <div class="filter-fields">
                Filters go here
            </div>
            <div class="filter-buttons">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Apply Filters</button>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Clear Filters</button>
            </div>
        </div>
    </div>
</div>

<?!= _I(FiltersJS) ?>
