<? const CollapsibleBodyCSS = "client/components/Collapsible/Collapsible-Body-css" ?>

<?!= MW.include(CollapsibleBodyCSS) ?>

<? Object.entries(detailsSection).forEach(function([,detailElement]){ ?>
    <? const {sectionHeader, content} = detailElement ?>
    <h1><?= sectionHeader ?></h1>
    <? content.forEach(function(detailElement) {?>
        <? const {type, label, value} = detailElement ?>
        <? if(type == 'row') {?>
            <p><?= label ?>:<?= value ?></p>
        <? }else if(type == 'paragaph'){?>
            <p><?= label ?><br><?= value ?></p>
        <? } ?>
    <? }) ?>
<? }) ?>