<script>
    const tabsHeader = document.querySelector(".tabs-header");
    tabsHeader.addEventListener('click', event => {
        tabsHeader.classList.toggle('active')
        const tabsBody = tabsHeader.nextElementSibling;
        if (tabsHeader.classList.contains("active")) {
            tabsBody.style.maxHeight = tabsBody.scrollHeight + "px";
        } else {
            tabsBody.style.maxHeight = 0;
        }
    })

    let stageTabs = document.querySelectorAll(".stage-tab");
    stageTabs.forEach(tab => {
        tab.addEventListener('click', event => {
            const stage = event.target.dataset.stage
            console.log(stage)
            // has to be only sibilings
            document.querySelectorAll(".stage-tab")
                .forEach(tab => tab.classList.remove('active'));
            event.target.classList.add('active')

            // Separation of concerns issue
            document.querySelectorAll(".per-stage-container")
                .forEach(tab => tab.classList.remove('active'));
            document.getElementById(stage + '-container').classList.add('active')
        })
        // tabsHeader.classList.toggle('active')
        // const tabsBody = tabsHeader.nextElementSibling;
        // if (tabsHeader.classList.contains("active")) {
        //     tabsBody.style.maxHeight = tabsBody.scrollHeight + "px";
        // } else {
        //     tabsBody.style.maxHeight = 0;
        // }
    })
</script>